#chat-screen {
  background-color: #abc1d1;
  height: 100000vh;
}

.alt-header__column:last-child i:last-child {
  margin-left: 20px;
}

#chat-screen .status-bar,
#chat-screen .alt-header__screen {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #abc1d1;
  z-index: 3;
}

#chat-screen .alt-header__screen {
  top: 15px;
  z-index: 2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.chat-main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: center;
  justify-content: center; */
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 12px;
  border-radius: 20px;
  margin-bottom: 25px;
  animation: fadeIn 1s ease-in-out;
}

.message-row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

@keyframes leftAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.chat-main > .message-row {
  transform: translateX(-250px);
  animation: leftAnimation 1s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes rightAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row:last-child {
  transform: translateX(250px);
  animation: rightAnimation 1s ease-in-out forwards;
  animation-delay: 2s;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}

.message__talker {
  margin-bottom: 5px;
}

.message__talker,
.message__time {
  opacity: 50%;
  font-size: 15px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  padding: 13px;
  background-color: white;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 8px;
}

.message-row--own {
  display: flex;
  justify-content: flex-end;
}

.message-row--own div .message__bubble {
  background-color: tomato;
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.message-row--own .message__bubble {
  margin-right: 0px;
  margin-left: 8px;
}

.chat-reply {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  padding: 10px 25px;
  transition: all 0.5s ease-in-out;
}

.chat-reply__column:first-child {
  width: 10%;
}

.chat-reply__column:first-child > i {
  transition: all 0.5s ease-in-out;
}
.chat-reply__column:last-child {
  width: 90%;
  position: relative;
}

.chat-reply__column__input {
  width: 100%;
  border-radius: 30px;
  padding: 10px 15px;
  border: 1px solid var(--gray_color);
  transition: all 0.5s ease-in-out;
}

.chat-reply:focus-within .chat-reply__column:first-child > i,
.chat-reply:focus-within .chat-reply__column:last-child > i,
.chat-reply:focus-within .chat-reply__column:last-child button {
  opacity: 0;
}

.chat-reply input:focus {
  width: 98vw;
  transform: translateX(-13%) translateY(-150%);
}

.chat-reply:focus-within {
  transform: translateY(100%);
}

.chat-reply__column:last-child > i,
.chat-reply__column:last-child button {
  position: absolute;
  right: 10px;
  top: 6px;
  transition: all 0.5s ease-in-out;
}

.chat-reply__column:last-child > i {
  right: 40px;
  top: 11px;
}

.chat-reply__column:last-child button {
  border: none;
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
