.user-component__subtitle i {
  margin-left: 5px;
}

.more__icon {
  margin-top: 25px;
  border-bottom: var(--line);
  padding-bottom: 30px;
}

.suggestions {
  margin-top: 20px;
}

.suggestions__title {
  margin-bottom: 15px;
}

.suggestions__icon__box {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.suggestions__icon__img {
  width: 60px;
  height: 60px;
  background-color: seagreen;
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
}

.suggestions__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggestions__icon__text {
  font-size: 13px;
  color: var(--gray_color);
}
